<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spaceship Transport manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="http://localhost:8080/addNewShip">Add new ship</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About app</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<h1>Spaceship Transport manager</h1>

<table>
    <form method="post">
        <tr>
            <th>#</th>
            <th>Ship name</th>
            <th>Maximum warp speed</th>
            <th>Current location</th>
            <th>Docking action</th>
        </tr>

        <tr th:each="ship : ${listOfShips}">
            <td th:text="${ship.getId()}"></td>
            <td th:text="${ship.getName()}"></td>
            <td th:text="${ship.getMaxSpeed()}"></td>
            <td th:text="${ship.getPlanet().getName()}"></td>
            <td th:if="${ship.isDocked() == true}"><a th:href="'/docking?id=' + ${ship.getId()}">Dock</a></td>
            <td th:if="${ship.isDocked() == false}"><a th:href="'/docking?id=' + ${ship.getId()}">Undock</a></td>
        </tr>
    </form>
</table>

<h1>Send ship</h1>
<p>Ships can only be sent if they are undocked. If you aren't seeing your ship in the select below, make sure to undock
    it above.</p>

<form method="post" th:action="'/ships/move'">
    <label for="shipType">Which ship should be sent...</label>
    <select name="shipType" id="shipType">
        <option name="shipType" th:each="i : ${listOfShips}" th:text="${i.getName()}"
                th:value="${i.getName()}"></option>
    </select>

    <label for="planetType">...to which planet</label>
    <select name="planetType" id="planetType">
        <option name="planetType" th:each="i : ${listOfPlanets}" th:text="${i.getName()}"
                th:value="${i.getName()}"></option>
    </select>
    <button type="submit" class="btn btn-primary">Send the ship!</button>
</form>

</body>
</html>